<div class="container-fluid bg-light p-5">
  <h2><strong>Contact</strong></h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta quasi voluptatibus quos delectus quaerat consequatur. Repudiandae, praesentium autem at possimus, illum error voluptatem dignissimos cum unde in fugit cumque impedit.</p>
    <form class="row g-3 w-50 mx-auto m-5 bg-secondary rounded">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Your Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email Here">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please put your message here"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>