<div class="card mb-3 bg-body" style="max-width: 100%; height: 340px;">
    <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card-body bg-body">
                <h5 class="card-title fs-1 text">This first heading will catch your eyes</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure commodi, magni odio laudantium architecto suscipit sunt, repellendus, temporibus quisquam tenetur inventore quod nesciunt molestias optio adipisci quas iusto facilis et porro praesentium laborum ab. Reprehenderit, cupiditate.</p>
            </div>
        </div>
        <div class="col-md-2">
          <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle my-3" alt="..." style="width: 300px; height: 300px;">
        </div>
        <div class="col-md-2"></div>
    </div>
  </div>