<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-1"></div>
            <div class="card-body bg-body col-8">
                <h2 class="card-title text-secondary"><strong class="text-dark">This first heading</strong> will catch your eyes</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure commodi, magni odio laudantium architecto suscipit sunt, repellendus, temporibus quisquam tenetur inventore quod nesciunt molestias optio adipisci quas iusto facilis et porro praesentium laborum ab. Reprehenderit, cupiditate.</p>
            </div>
        <div class="col-2">
          <img src="/website/assets/img/1.jpg" class="rounded-circle" alt="..." style="width: 300px;" height="300px">
        </div>
        <div class="col-1"></div>
    </div>
  </div>