<div class="container-fluid bg-body p-5" style="">
    <h5 class="fs-1 text">Portfolio</h5>
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione voluptatibus optio non
        veniam iure, accusantium delectus quidem harum qui deleniti perspiciatis aliquid blanditiis natus officia ullam
        illum cupiditate temporibus fugiat voluptas animi? Adipisci numquam sequi corrupti culpa, maxime et tempore!
        Aspernatur dolorem, eius assumenda tempora recusandae voluptas hic ea, qui vel odio nisi laborum facilis magnam
        quisquam repudiandae corporis reprehenderit quas ipsa soluta! Vel quia saepe consectetur perspiciatis quo minima
        id natus veritatis magnam dolores! Corporis autem magnam unde laudantium magni iusto sapiente numquam! Autem
        facilis assumenda molestiae perferendis quasi quisquam dignissimos corporis libero sequi, nam earum neque! Amet
        numquam autem exercitationem iusto ipsam? Assumenda?</p>
    <div class="container-fluid row ">
        <div class="col px-4">
            <div class="card" style="border: none;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary fs-2 mb-1">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium corporis
                        voluptatem distinctio commodi necessitatibus, id aut quaerat. Officiis eaque explicabo dicta
                        quibusdam repellat.</p>
                </div>
            </div>
        </div>
        <div class="col px-4">
            <div class="card" style="border: none;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary fs-2 mb-1">Project Name</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque
                        commodi rem, enim voluptatibus laboriosam quisquam odit, cum vero at aut, id dolore reiciendis!
                    </p>
                </div>
            </div>
        </div>
        <div class="col px-4">
            <div class="card" style="border: none;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary fs-2 mb-1">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dignissimos
                        facere vitae quo, quidem quod in eligendi laudantium necessitatibus debitis beatae saepe nobis
                        repellat provident?</p>
                </div>
            </div>
        </div>
    </div>
</div>