<div class="container-fluid">
    <div class="row bg-light">
    <div class="col-4 mx-auto">
        <img class="rounded-circle w-75" src="https://picsum.photos/id/3/200" alt="teclado">
    </div>
    <div class="col-8">
        <h2 class="text-secondary"><strong class="text-dark">The Second Heading</strong> Is Pretty Cool Too.</h2> 
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leam.</p>
    </div>
    </div>
</div>